.Table {
  border: 1px solid black;
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-wrap: break-word;
  font-size: 1vw;
}
.th{
  text-align: center;
  color: white;
  background-color: #4472c4;
}
.td {
  padding-top:0;
  padding: 5px;
}
.darkGray {
  background-color: #cfd5ea;
}
.lightGray {
  background-color: #e9ebf5;
}
.th, .td {
  border: 1px solid black;
  
}

@media (max-width: 768px){
  .Table {
    font-size: 20px;
  }
}
@media only screen and (max-width : 414px) {
  .Table {
    font-size: 10px;
  }
}
  