.Testimonials {
  font-family: 'Lato';
  background-color:#e0e0db;
  width:100%;
  padding:10vh 20px;
  text-align: center;
  .quotes {
    width:100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px){
  .Testimonials {
    .quotes{
      flex-direction: column;
    }
  }
}